<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<meta name="msapplication-tap-highlight" content="no">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/icomoon/style.css">
	<title>邀请页面</title>
</head>
<body>
<div class="weixinInvite">
	<!-- app介绍 -->
	<section class="appHead border-bm">
		<div class="logo-picture">
			<img src="../img/logoinvite.jpg" alt="">
		</div>
		<div class="nameContent">
			<span class="appName inviteNC">求PS大神</span>
			<span class="appContent inviteNC">社交图片好玩的图片社交</span>
		</div>
		<button class="appOpen bg-blue border-rs">打开</button>
	</section>
	<section class="invite-bg bg-padding">
		<section class="wn-invite">
			<span class="portrait"><img src="../img/bg.jpg" alt="头像"></span>
		    <div class="wn-name name-cr">RemyHuang</div>
		    <div class="wn-time time-cr">35分钟</div>
		</section>
		<!-- 图片内容 -->
		<section class="wn-invite-main">
			<img src="../img/bg.jpg"  alt="求助图片">
			<div class="wnTab">
				<div class="dotTab"></div>
				<span class="dotBack"></span>
				<div class="wn-icon-tab icon-tab"></div>
				<div class="wn-font-tab">暗示法法师</div>
			</div>
		</section>
		<!-- 分享提示和上传作品 -->
		<section class="remindUpload">
			<div class="inviteRemind">
				<img src="../img/alertInvite.png" height="147" width="361" alt="">
			</div>
			<button class="inviteUpload bg-blue border-rs">上传作品</button>
		</section>
	</section>
	<!-- P图人列表 -->
	<section class="personList">
	    <div class="person-message">
			<div class="invite-portrait">
				<img src="../img/logo.jpg" alt="">
			</div>
			<div class="godReply">
				<div class="nameTime"><span>马可波罗</span><i>35分钟前</i></div>
				<div class="god-content">帮你P了一张作品</div>
			</div>
			<button class="lookOver bg-blue border-rs">查看作品</button>
			<div class="border-bm magin-left"></div>
	    </div>
	    <div class="person-message">
			<div class="invite-portrait">
				<img src="../img/logo.jpg" alt="">
			</div>
			<div class="godReply">
				<div class="nameTime"><span>马可波罗</span><i>35分钟前</i></div>
				<div class="god-content">帮你P了一张作品</div>
			</div>
			<button class="lookOver bg-blue border-rs">查看作品</button>
			<div class="border-bm magin-left"></div>
	    </div>
	    <div class="person-message">
			<div class="invite-portrait">
				<img src="../img/logo.jpg" alt="">
			</div>
			<div class="godReply">
				<div class="nameTime"><span>马可波罗</span><i>35分钟前</i></div>
				<div class="god-content">帮你P了一张作品</div>
			</div>
			<button class="lookOver bg-blue border-rs">查看作品</button>
			<div class="border-bm magin-left"></div>
	    </div>
	</section>
	 <!-- 二维码 -->
	<section class="codeContent">
	  <div class="codeInvite">
		<img src="../img/codeinvite.png" alt="">
	  </div>
	  <div class="code-content">
	  	<img src="../img/left.png" class="semicolon-left" alt="">
	  	这里是十五字的文案说明
	  	<img src="../img/right.png" class="semicolon-right" alt="">
	  </div>
	</section>
</div>
</body>
</html>