<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<meta name="msapplication-tap-highlight" content="no">
	<link rel="stylesheet" href="../css/share.css">
	<title>分享页面</title>
</head>
<body>
	<div class="shareWinxin">
		<section class="shareHead">
			<div class="shareLogo">
			</div>
			<div class="shareName">
				<span>求PS大神</span>
			</div>
		</section>
		<!-- 求助 -->
		<section class="shareMain">
			<div class="shareSeek border-rs">
				<span class="shareHelp">
					<img src="../img/bg.jpg" alt="">
				</span>
				<div class="help-message">
					<span class="helpPortrait">
						<img src="../img/bg.jpg" alt="">
					</span>
					<span class="helpName">
						刘金平
					</span>
				</div>
			</div>
			<div class="pattern"></div>
			<div class="bg3 bg3-left"></div>
			<div class="tagContent">
			<div class="tag"></div>
				<span class="tag-content">阿萨斯打算</span>
			</div>
		</section>
		<!-- 作品 -->
		<section class="shareReply">
			<div class="shareWork border-rs">
				<span class="share-work">
					<img src="../img/bg.jpg" height="556" width="524" alt="">
				</span>
				<div class="help-message">
					<span class="helpPortrait">
						<img src="../img/bg.jpg" alt="">
					</span>
					<span class="helpName">
						刘金平
					</span>
				</div>
			</div>
			<div class="pattern1"></div>
			<div class="bg4 bg4-left"></div>
			<div class="tagContent">
			<div class="tag"></div>
				<span class="tag-content">阿萨斯打算</span>
			</div>
		</section>
		<section class="footerCode">
			<span class="shareCode">
			</span>
			<span class="footerContent">
				亲爱的,扫描二维码下载APP.你也可以和我一样发布自己想要P的图.
			</span>
			<div class="bg2-footer"></div>
		</section>
		<div class="bg1-left"></div>
		<div class="bg3 bg3-right"></div>
		<div class="bg4 bg4-right"></div>
	</div>
</body>
</html>